{% extends "base.html" %}
  <!-- Говрим наследоваться от base.html -->
{% block content %}
<!-- начало контента-->
    <div class='row'>
        <!-- <h1>{{ page_title }}</h1> -->

        <div class='col-8'>
            <!-- Обработка сообщений flash()
            "Добавим в шаблоны отображение сообщений из flash"
            Создали переменную messages, которая равна списку всех flash
            возникнувших у нас в коде, 
            отлавилвает их get_flashed_messages
            Если сообщение flash сущетсвует, то выдаем по очереди
            -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
                {% endif %}
            {% endwith %}
            <h2>Новости</h2>
            <!--Можем использовать итератор for,
                но потом обязатльено закрываем endfor-->
            {% for news in news_list %}
            <!--
                <a - объявляем, что сейчас будет ссылка
                href= укзываем ссылку
                текст - отражаемый текст на сайте, по нажатии котрого
                происходит переход по ссылке 
                a>
            <p> - параграф, отступ (но почему не сработал...)
            <hr/> - черта, рисует разделющую черту
            -->
            <h3><a href="{{news.url}}">{{news.title}}</a></h3>
            <!-- На входе мы получаем дату с милисикундами,
                меняем формат, также как в python c помощью
                datatime  .strftime()
                -->
            <p></p>{{news.published.strftime('%Y-%m-%d')}}</p>
            <hr/>
            {% endfor %}
            
        </div>
        <!--ПРИМЕЧАНИЕ: 
            Если вставить текст в рамках <h2>выаыва</h2>, то
            не происходит переноса правой колонки вправо
            Если же вставить просто текст выаываы, без <h..., то
            текст переносится вправо, вторая колонка остается слева
        -->
        <div class='col-4'>
            <h2>Прогноз погоды</h2> 
            {% if weather %}
                Погода: {{ weather.temp_C }}, ощущается как {{ weather.FeelsLikeC }}
            {% else %}
                Сервис погоды временно недоступен
            {% endif %}   
        </div>
    </div>
{% endblock %}