{% extends "base.html" %}
  <!-- Говрим наследоваться от base.html -->
{% block content %}
<!-- начало контента-->
    <div class='row'>
        <!-- <h1>{{ page_title }}</h1> -->

        <div class='col-8  news-content'>
           {{ news.text | safe}}
           <!-- 
            "| safe" - фильтр доверия
            Если его не поставить, то на сайт транслируются все html символы,
            Если посмотреть код страницы, то там вообще идет подстановка этих
            символов другими символами, не html, поэтому бразуре не понимает,
            что от него требуется разукрашка.
            Это сделано для того, что если мы, к примеру, будем собирать
            комменатрии, то злодей может заложить туда джава скрипт код,
            который будет воровать куки в котором все пароли, и вредить.
            Когда мы ставим фильт "| safe", то это означает, что мы
            доверяем тексту и его можно не кодировать, изменять.        
        -->
            
        </div>

        <div class='col-4'>
            <h2>Другие новости</h2>  
        </div>
    </div>
{% endblock %}